<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>mentalpad dot net</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="grey lighten-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">contact</a></li>
        <li><a href="#">home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">contact</a></li>
        <li><a href="#">home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center grey-text text-lighten-2">hello, my name is trinity. </h1>
        <div class="row center">
          <h5 class="header col s12 light">- freelance application developer -</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="mount ranier"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings_power</i></h2>
            <h5 class="center">Creative INTP</h5>

            <p class="light">Developing applications that surprise people, apps that people love to use, is what I love. I thrive on good reviews. </p>
            <p class="light">I have been writing some flavor of enterprise or startup software for almost 15 years, from C# and .net to Sharepoint to Java, from MySql to MSSql, from SOAP services to restful web services, from AWS and MongoDB to Python, Appengine and schemaless data. And always - well, almost always - javascript. </p>
            <p class="light">I am a perfectionist in all things. I can knit a mean touque.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">- skillset -</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="mount ranier"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <p class="left-align light">
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Android Development</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Java</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Integrations</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Android Studio</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Big Data</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">restful web services</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">OAuth</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Authentication</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">IntelliJ</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Eclipse</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Google Play Developer Console</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Google APIs</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Javascript</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">jQuery</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">d3.js</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Python</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">AppEngine</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">git</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">agile</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">scrum</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">Flask</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">django</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">html5</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">css</div>
                <div class="chip z-depth-1"><img src="/img/circle-green.png" alt="skillset">responsive design</div>

          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">- experience -</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="mount ranier"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">- portfolio -</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="mount ranier"></div>
  </div>

  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
<!--         <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
